body{background-color: burlywood}
#chatboxCon{text-align: center}
#chatbox
{
    width: 900px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    top:150px;
    font-family: arial;
}
#chatboxSubmit
{
    width: 100px;
    height: 30px;
    font-size: 15px;
    position: relative;
    top:150px;
}
#replyCon
{
    text-align: justify;
    font-family: arial nova;
    background-color: antiquewhite;
    border: 2px solid black;
    width: 400px;
    height: 400px;
    margin-left: 200px;
    margin-top: -200px
}
#avatarPro
{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin-left: 0px
}
